@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff') format('woff'),
       url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}


:root {
    font-family: 'Satoshi';
}

body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

button {
    font-family: 'Satoshi';
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #1992D4;
    color: white;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Satoshi";
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-weight: 700;
    font-size: 1.375rem;
}

h5 {
    font-size: 1.125rem;
    margin: 0;
}

.svg-img {
    height: 100%;
    width: 100%;
}

.dashboard_wrap {
    width: 100%;
    overflow: hidden;
}


.dashboard_layout {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
}

.dashboard_main_wrap {
    grid-column: 2;
    grid-row: 2 / -1;
    background-color: #E2E8F0;
    display: flex;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.dashboard_main_navigation_wrap {
    position: relative;
    grid-column: 2;
    grid-row: 1 / 2;
    background-color: white;
    padding: 0.5rem 2rem 1rem 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
}

.dashboard_navigation_top {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
}

.dashboard_navigation_bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}


.dashboard_navigation_welcome_wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard_navigation_welcome_img {
    width: 4rem;
    border-radius: 100%;
}

.dashboard_form_wrap {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.dashboard_account_info_wrap {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.search_svg_wrap {
    width: 1rem;
    aspect-ratio: 1 / 1;
}

.dahboard_profile_name {
    font-weight: 700;
}

form {
    flex: 1;
}

input[type="search"] {
    font-family: "Satoshi";
    border: none;
    background-color: #E2E8F0;
    border-radius: 23rem;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

.dashboard_navigation_welcome_text {
    font-weight: 600;
}

.bell_svg_wrap {
    width: 1.25rem;
}

.dashboard_profile_img {
    border-radius: 100%;
    overflow: hidden;
    width: 3rem;
    aspect-ratio: 1 / 1;
}

.dashboard_main_body_wrap {
    background-color: grey;
}

.dashboard_side_wrap {
    background-color: #1992D4;
    padding: 0.5rem 3rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: white;
    grid-column: 1;
    grid-row: 1 / -1;
}

.dashboard_side_part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard_side_item {
    display: flex;
    gap: 0.875rem;
    align-items: center;
}

.dashboard_side_header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard_img_main {
    width: 1.75rem;
    aspect-ratio: 1/1;
}

.side_link_text {
    font-size: 1.25rem;
    font-weight: 500;
}

.side_link_svg {
    width: 2rem;
    aspect-ratio: 1 / 1;
}

.dashboard_navigation_btn_wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard_main_layout {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.5rem;
}

.dashboard_main_right_wrap{
    grid-column: 2;
}

.dashboard_main_left_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.dashboard_main_card_wrap {
    position: relative;
    padding: 1.5rem;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}

.dashboard_main_card_text {
    margin-top: 1rem;
    opacity: 70%;

}

.dashboard_links_wrap {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 1rem;
}

.dashboard_main_card_accent {
    position: absolute;
    left: 0;
    top: 0;
    width: 2%;
    background-color: #F0B429;
    height: 100%;
}

.dashboard_link {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
}

.dashboard_main_part_wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dashboard_main_part_card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 8px;
}

.dashboard_main_heading {
    margin-bottom: 1rem;
}

.dashboard_main_part_para {
    margin-top: 0.5rem;
    font-size: 1rem;
    opacity: 70%;
    max-width: 30ch;
}

.devider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.151);
}

.dashboard_main_part_para.is-title {
    font-weight: 700;
    opacity: 100%;
    margin: 0;
}

.dashboard_main_part_grouper.is-trending {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.dashboard_main_part_para.is-2 {
    margin: 0;
    font-weight: 500;
}

.dashboard_main_img {
    overflow: hidden;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
}

.dashboard_main_part_card.is-trending {
    gap: 2rem;
}